{{>header}}

<div class="main-content">
    <p>Use this site to get your Weather! </p>
    <form action="">
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
    
</div>

{{>footer}}
